%p
  I'm Alexander Glushkov and I'm doing web development since 2006.

%p
  I occasionally post to
  = succeed '.' do
    %a{href: "https://blg.ctln.pw"} blog

%p
  Feel free to contact me at
  = succeed '.' do
    %a{href: "mailto:cutalion@gmail.com"} cutalion@gmail.com

%p
  I am also @cutalion at
  = succeed ',' do
    %a{href: "https://github.com/cutalion", target: "_blank", class: "github"} github
  = succeed ',' do
    %a{href: "http://www.linkedin.com/in/cutalion", target: "_blank", class: "linkedin"} linkedin
  %a{href: "http://stackoverflow.com/users/376378/cutalion", target: "_blank", class: "stackoverflow"} stackoverflow
  and
  = succeed '.' do
    %a{href: "https://twitter.com/cutalion", target: "_blank", class: "twitter"} twitter
